* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  background-color: #0078ae;
  padding: 15px 40px;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a,
header .logo {
  color: white;
  text-decoration: none;
  font-size: 0.95em;
  font-weight: bold;
  text-transform: uppercase;
}

.header-group-1 {
  display: flex;
  align-items: center;
  gap: 20px;
}

.logo {
  color: #ed2939;
  font-size: 1.2em;
}

.btn-localizacao {
  background-color: #2b99c7;
  padding: 15px 30px;
}
.link-menu {
  display: flex;
  gap: 20px;
}

.header-group-3 {
  display: flex;
  gap: 20px;
}
.link-minha-pizza {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.1em;
}

.btn-localizacao {
  border: 1px solid white;
  border-radius: 5px;
}

.header-group-3 a {
  display: flex;
  flex-direction: column;
  align-items: center;
  line-height: 1.2;
  font-size: 0.8em;
}
.login,
.carrinho2 {
  text-transform: none;
}
