* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
header {
  background-color: #0078ae;
  padding: 15px 40px;
}
.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header a,
header .logo {
  color: white;
  text-decoration: none;
  font-size: 0.95em;
  font-weight: bold;
  text-transform: uppercase;
}

.header-group-1 {
  display: flex;
  align-items: center;
  gap: 25px;
}

.logo {
  color: #ed2939;
  font-size: 7.5em;
}

.btn-localizacao {
  background-color: #2b99c7;
  padding: 15px 30px;
}
